{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block after_related_objects %}
    {% if graph %}
        <script src="https://www.google.com/jsapi"></script>
        <script>
            google.load('visualization', '1', {packages:['corechart']});
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                let data = google.visualization.arrayToDataTable([
                    ['', {% for stats_choice in graph.stats_choices %} '{{ stats_choice.1 }}', {% endfor %}],
                    ['', {% for stats_choice in graph.stats_choices %} {{ stats_choice.0 }}, {% endfor %}]
                ]);
                let options = {
                title: '{{ graph.name }}',
                hAxis: {title: 'Выбранные значения'},
                vAxis: {title: 'Количетсво выбравших'}
                };
                let chart = new google.visualization.ColumnChart(document.getElementById('choices'));
                chart.draw(data, options);
            }
        </script>
        <div 
        id="choices"
        style="display: block;margin-left: auto;margin-right: auto;width: 600px; height: 400px;"
        >
        </div>
        <br>
    {% endif %}
{% endblock %}